{% extends 'base.html' %}
 {% block page_head %}
    <title>Show Travel</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
        {% endblock %}
    {% endblock %}


{% block page_body_main_content %}

<div class="form container">
    <div class="title">Travel Details</div>
    <div class="input-control error" id="systemMessageShowPage" ></div>
    <form id="tripForm" action="/editTravel" method="POST"  >
        <input type="text" id="tripId" style="display: none" name="tripId" value="{{ details.id }}">
            <div class="input-box">
                <label>Source</label>
                <div class="location-inputs">
                    <div class="input-control">
                        <input id="citySource" name="citySource" type="text" disabled placeholder="{{details.Source}}">
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="streetSource" name="streetSource" type="text" placeholder="{{details.Street_Source}}" disabled>
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="numberSource" name="numberSource" type="number" placeholder="{{details.Number_Source}}" disabled>
                        <div class="error"></div>
                    </div>
                </div>

            </div>


            <div class="input-box">
                <label>Destination</label>
                <div class="location-inputs">
                    <div class="input-control">
                        <input id="cityDestination" name="cityDestination" type="text" disabled placeholder="{{details.Destination}}" >
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="streetDestination" name="streetDestination" type="text" placeholder="{{details.Street_Destination}}" disabled>
                        <div class="error"></div>
                    </div>
                    <div class="input-control">
                        <input id="numberDestination" name="numberDestination" type="number" placeholder="{{details.Number_Destination}}" disabled>
                        <div class="error"></div>
                    </div>
                </div>
            </div>

        <div class="input-row">
            <div class="input-box">
            <label>Date</label>
                <div class="input-control">
                    <input id="dateInput" type="date" value="{{details.Date}}" style="display:none;">

                    <input id="datePlaceholder" name="dateTrip" type="text" disabled placeholder="{{details.Date}}">
                    <div class="error"></div>
                </div>
            </div>

            <div class="input-box">
                <label>Time</label>
                <div class="input-control">
                    <input id="timeInput" type="time" value="{{details.Time}}" style="display:none;">

                    <input id="timePlaceholder" name="timeTrip" type="text" disabled placeholder="{{details.Time}}">
                    <div class="error"></div>
                </div>
            </div>


            <div class="input-box">
                <label>Number of Places</label>
                <div class="input-control">
                    <input id="numOfPlc" name="numOfPlc" type="number"  min="1" max="50" disabled placeholder="{{details.Max}}"><!--required-->
                    <div class="error"></div>
                </div>
            </div>

            <div class="input-box">
                <label>Price</label>
                <div class="input-control">
                    <input id="price" name="price" type="number" min="1" max="1000" disabled placeholder="{{details.Price}}"><!--required-->
                    <div class="error"></div>
                </div>
            </div>
        </div>


        <div class="input-box">
            <label>Comments</label>
            <textarea placeholder="{{details.Comment}}" rows="4" disabled ></textarea>
        </div>

    </form>
    <div class="button">
            {% if session.get('email') == details.Driver_email %}
                {% if edit_mode %}
                    <input type="submit" class="submit" value="Save">
                {% else %}
                    <button type="button" class="submit delete" id="deleteTrip" onclick="toDelete()" >Delete</button>
                    <div class="popup black" id="popup">
                        <img src="/static/media/img/delete.png">
                        <h2>The Travel Deleted !</h2>
                        <p>Your travel has been successfully deleted</p>
                        <button type="button" onclick="toMyTravel()">OK</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
</div>
{% endblock %}

{% block page_body_js %}
<script src="{{url_for('showTravel.static', filename='showTravel.js') }}"></script>
{% endblock %}

