{% extends 'base.html' %}
 {% block page_head %}
    <title> Travel History</title>
     {{ super() }}
        {% block page_head_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}"/>
        {% endblock %}
    {% endblock %}


{% block page_body_main_content %}

    <section class="bodyy">


        <h2>My Travels</h2>

    <br>
    <th><input type="date" class="search-input dateSearch" placeholder="Search by date..."></th>
    <th><input type="text" class="search-input sourceSearch" placeholder="Search by Source..."></th>
    <th><input type="text" class="search-input destinationSearch" placeholder="Search by Destination..."></th>
        <br>
<!--        unchosen-error="Please choose a ride first"-->
    <div class="input-control error" id="systemMessageHistPage" ></div>
<!--        <div class= "input-control error systemMessage"  ></div>-->
<table class="table travelScheduleTable" id="travelScheduleTable">
    <thead>
        <tr>
            <th>Select</th>
            <th>Date </th>
            <th>Time </th>
            <th>Source </th>
            <th>Destination</th>
            <th>Seats Available</th>
            <th>Driver </th>
            <th>Price </th>
        </tr>
    </thead>
    <tbody id="tbody">
        {% for record in tremps %}
            {% if record.User_email == session.email %}
                <tr>
                    <td data-label="Select"><input type="radio" name="selectRow" value="{{ record._id }}"></td>
                    <td data-label="Date">{{ record.Date }}</td>
                    <td data-label="Time">{{ record.Time }}</td>
                    <td data-label="Source">{{ record.Source }}</td>
                    <td data-label="Destination">{{ record.Destination }}</td>
                    <td data-label="Seats Available">{{ record.Max }}</td>
                    <td data-label="Driver">
                        {% if record.Driver_email == session.email %}
                            Me
                        {% else %}
                            {{ record.Driver }}
                        {% endif %}
                    </td>
                    <td data-label="Price">{{ record.Price }}</td>
                </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

</section>
<!--<button type="button" id="removeFromTripButton" style="display: none;">Remove from Trip</button>-->
<button type="submit" class="submit delete" name="remove" id="remove" onclick="checkRadioRemove()" value="{{userName}}">unsubscribe</button>
<!--onclick="openPopup()"-->
<div class="popup" id="popup">
            <img src="/static/media/img/tick.png">
            <h2>you remove!</h2>
            <p>You remove from the ride</p>
            <button type="button" onclick="reload()">OK</button>
</div>
<button type="submit" class="submit right-aligned" id="showTravelButton" onclick="checkRadio()" value="{{userName}}" >Show Travel</button>
<!--onclick="redirectToShowTravel()-->
{% endblock %}

{% block page_body_js %}
<script src="{{url_for('travelSchedule.static', filename='travelSchedule.js') }}"></script>
<script src="{{url_for('travelHistory.static', filename='travelHistory.js') }}"></script>
{% endblock %}
